*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.kort {
    position: relative;
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 45px 45px; 
    text-align: center;
    background: #77a8dd;
}

.søke__felt {
    border: 0;
    padding: 8px 15px;
    height: 45px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 1.125rem;
}

.søke__knapp {
    position:  relative;
    border: 0;
    padding: 8px 15px;
    height: 40px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    background: #fff;
    cursor: pointer;
   
} 

.søke__knapp img {
    width: 16px;
}

.søke__ikon button {
    position: absolute;
    height: 22px;
    left: 14px;
    top: 12px;
    filter: invert(1) brightness(1.5);
}

.vær {
    position: relative;
    display: none;
}

.vær__dato {
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 5px;
    color: #fff;
    position: absolute;
    top: -10px;
}


.vær__ikon {
    width: 160px;
}

.vær h1{
    font-size: 80px;
    font-weight: 500;
}

.vær h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.vær h1, 
.vær h2 {
    margin-right: 5px;
    color: #fff;
}

.vær__sekundær__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.kol{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 3px 0;
}

.kol img {
    width: 25px;
    margin-right: 15px;
    margin-left: 10px;
}

.kol p {
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 5px;
    color: #fff;
}

.vær__info {
    display: inline-block;
  

}

.vær__dato {
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 5px;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 100px;
    right: 115px;
}

.vær__ikon {
    width: 160px;
    margin-top: 5px;
}

.feilmelding {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10pox;
    text-align: center;
    margin-top: 2px;
    color: red;
    display: none;
}